<script data-goatcounter="https://{{ site.goat_counter }}.goatcounter.com/count" async src="//gc.zgo.at/count.js">
</script>

<script>
  var r = new XMLHttpRequest();
  r.addEventListener('load', function () {
    document.querySelector('#goat').innerText = JSON.parse(this.responseText).count_unique
  })
  r.open('GET', 'https://alechash.goatcounter.com/counter/' + encodeURIComponent(location.pathname) + '.json')
  r.send()
</script>

<noscript>
  <img src="https://{{ site.goat_counter }}.goatcounter.com/count?p=/test-img">
</noscript>