<nav class="bg-gray-800 p-6">
	<h2 class="text-white text-2xl md:text-lg text-center md:text-left font-bold mb-6 md:mb-0"><a href="/">{{site.title}}</a></h2>
	<div class="md:absolute text-center right-6 top-6 text-white">
		<a href="https://github.com/alechash" class="font-bold hover:underline" target="_blank">GitHub</a>
		<span class="text-purple-600 px-3">////</span>
		<a href="https://alecw.net" class="font-bold hover:underline" target="_blank">Portfolio</a>
		<span class="text-purple-600 px-3">////</span>
		<a href="https://hackerone.com/alecw" class="font-bold hover:underline" target="_blank">HackerOne</a>
	</div>
</nav>
