<nav class="background">
	<div class="title_wrapper">
		<h2 class="title"><a class="title" href="/">{{site.title}}</a></h2>
	</div>
	<div class="menu_items_wrapper">
		<span class="menu_items">
			<a href="https://github.com/alechash" class="menu_item" target="_blank">GitHub</a>
			<span class="menu_divider">////</span>
			<a href="https://alecw.net" class="menu_item" target="_blank">Portfolio</a>
			<span class="menu_divider">////</span>
			<a href="https://hackerone.com/alecw" class="menu_item" target="_blank">HackerOne</a>
		</span>
	</div>
</nav>
<button class="ukraine_button" onclick="window.location='https://ukraine.ua/news/stand-with-ukraine/'"></button>