{%-if include.category-%}
{%-assign posts = site.categories[include.category]-%}
{%-else-%}
{%-assign posts = site.posts-%}
{%-endif-%}

{%-if include.limit and posts.size > include.limit-%}
{%-assign limit_exceeded = true-%}
{%-else-%}
{%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if posts.size > 0 -%}
<div class="max-w-xl m-6 sm:m-auto text-white">
	{%- if include.show_more and limit_exceeded -%}
	<div class="text-blue-600 hover:underline font-bold mb-8"><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></div>
	{%- endif -%}
	{%- for post in posts limit: include.limit -%}
	<a href="{{ post.url | relative_url }}">
		<div class="mb-12">
			{%- if post.image == false -%}
			<img src="/assets/photos/non.png" class="rounded-lg border-2 border-gray-800">
			{%- else -%}
			<img src="{{ post.image }}" class="rounded-lg border-2 border-gray-800">
			{%- endif -%}

			{%- if post.archived -%}
			<span class="bg-blue-600 px-2 py-1 rounded-lg text-white">ARCHIVED</span>
			{%- endif -%}
			<span class="font-bold text-2xl hover:underline">{{ post.title }}</span>
			<p class="text-gray-500 text-sm">{{- post.date | date: site.theme_config.date_format -}}</p>
		</div>
	</a>
	{%- endfor -%}
</div>
{%- endif -%}