{%-if include.category-%}
{%-assign posts = site.categories[include.category]-%}
{%-else-%}
{%-assign posts = site.posts-%}
{%-endif-%}

{%-if include.limit and posts.size > include.limit-%}
{%-assign limit_exceeded = true-%}
{%-else-%}
{%-assign limit_exceeded = false-%}
{%-endif-%}

{%- if posts.size > 0 -%}
<div class="post_list_wrapper">
	{%- if include.show_more and limit_exceeded -%}
	<div class="show_more_wrapper"><a href="{{ include.show_more_url }}" class="show_more">{{ include.show_more_text | default: "Show more..." }}</a></div>
	{%- endif -%}
	{%- for post in posts limit: include.limit -%}

	{%- if post.category == 'micros' -%}

	{%- else -%}

	<div class="post_card">
		<a href="{{ post.url | relative_url }}" class="link_actual_title">
			<div class="mb-12">
				{%- if post.image == false -%}
				<img src="/assets/photos/non.png" class="img_cover">
				{%- else -%}
				<img src="{{ post.image }}" class="img_cover">
				{%- endif -%}

				<div class="post_title">
					{%- if post.archived -%}
					<span class="tag_archived">ARCHIVED</span>
					{%- endif -%}
					<div class="post_link_title">{{ post.title }}</div>
					<div class="post_date_wrapper">
						<span class="post_date">{{- post.date | date: site.theme_config.date_format -}}</span>
					</div>
				</div>
			</div>
		</a>
	</div>
	{%- endif -%}
	{%- endfor -%}
</div>
{%- endif -%}