:root {
	--background-color: #000;
	--archived-background-color: #ff0000;
	--text-color: #fff;
	--light-color: #fff;
	--title-background: #0000ff;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	max-width: 600px;
	margin: auto;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 32px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Times New Roman', serif;
}

.tag_archived {
	background-color: var(--archived-background-color);
	color: var(--light-color);
	text-decoration: none;
	padding: 4px;
	margin: 6px 0;
	border-radius: 3px;
	font-size: 15px;
	font-weight: bolder;
}

.link_actual_title {
	text-decoration: none;
	color: var(--text-color);
	font-weight: 900;
	font-size: 20px;

}

.post_link_title {
	 background-color: var(--title-background);
	 padding: 4px;
	 margin: 6px 0;
	 color: var(--light-color);
	 border-radius: 3px;
}

.img_cover {
	max-width: 600px;
	width: 100%;
	border-radius: 12px;
	border: var(--text-color) solid 2px;
}

.post_card {
	margin-bottom: 80px;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #fff;
		--text-color: #000;
	}
}
