.blog_code {
    background-color: rgb(241, 241, 241);
}

.blog_text {
    color: rgb(27, 27, 27);
}

.sticky {
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(240, 240, 240);
}

code {
    background: rgb(230, 230, 230);
    color: rgb(21, 21, 21);
}