---
---

@import "main";

.ukraine_button {
    background: #005bbb;
    color: white;
    font-weight: bolder;
    padding: 15px;
    border: none;
    width: 100px;
    border-bottom: 30px #ffd500 solid;
    position: fixed;
    left: 15px;
    bottom: 15px;
    font-family: 'Roboto', sans-serif;
}
