---
---

@import "no-style-please";

.archived {
    background-color: blue;
    color: white;
    padding: 2px;
    margin-left: 8px;
}

.pl-2 {
    padding-left: 8px
}

.text-red {
    color: rgb(0, 255, 255) !important;
}

.width-full {
    width: 100%;
}