---
layout: default
---

<div class="post_list_include">
	<div class="post_list_include">
		<h2 class="page_title">
			Micro Blogs
		</h2>
	</div>

	{%
        include micro_blog_list.html
     -%}

	<div class="post_list_include">
		<h2 class="page_title">
			Post Archives
		</h2>
	</div>

	{%
        include post_list.html
          category=page.which_category
          limit=item.post_list.limit
          show_more=item.post_list.show_more
          show_more_text=item.post_list.show_more_text
          show_more_url=item.post_list.show_more_url
     -%}

	{%-if item.entries-%}
	{%-include menu_item.html collection=page.which_category-%}
	{%-endif-%}
</div>